.skip a{
    background: white;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

  .skip a{
    position:absolute;
    top:-40px;
}

.skip a:focus{
    top:20px;
}

header {
    display:grid;
    background: #00274c;
    color:#f2f2f2;
    font-size:50px;
    overflow:visible;
    text-align: center;
    align-items: center;
}

header h1{
    padding:10px;
    margin:15px;
}

nav{
    display:flex;
    flex-direction:column;
}

.topnav{
    background-color: #00274c;
    overflow:hidden;
    margin-bottom:10px;
    padding-bottom:5px;
}

.topnav a{
    width:100%;
    color:#f2f2f2;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    font-size:25px;
}

.topnav a:hover{
    background-color:#989c97;
    color:#111b23;
}

.topnav a.current{
    background-color:#ffcb05;
    color:#111b23;
    text-decoration:underline;
}

button{
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #00274c, #ffcb05) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
    font-size:15px;
}


button:hover{
    transform: translateY(-5px);
}

button:focus{
    background: #00274c;
    color:#e5e5e5;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #00274c;
    color:#e5e5e5;
  }



@media only screen and (min-width:768px) {
    header{
        display:grid;
        background-image: url("../images/header1.png");
        background-position: center;
        background-size: cover;
        height:250px;
    }

    header h1{
        display:grid;
        position:absolute;
        background: rgba(255, 255, 255, 0.75);
        color: black;
        left:0;
        right:0;
        font-size: 50px;
        width: 100%;
        margin:0;
        padding:25px;
    }

    nav{
        flex-direction:row;
        position:relative;
    }

    button{
        font-size:15px;
    }

}

@media only screen and (min-width:1200px) {
    header {
        height:500px;
        text-align: center;
        align-items: center;
    }

    nav{
        align-items:center;
    }

    .topnav{
        display:flex;
        justify-content:center;
    }

    button{
        font-size:25px;
    }
}