.central h1{
    font-size: 30px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman';
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: #00274c;
    outline: none;
    text-align: left;
  }


.union, .dininghalls,.outside {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 5px;
    padding: 5px;
  }

  .dininghalls p, .union p, .outside p{
      display:none;
  }

  .union-frame, .dininghall-frame, .outside-frame {
    padding: 3px;
    font-size: 1.2rem;
    text-align: center;
    background-color: #00274c;
    color: #d9d9d9;
    overflow:hidden;
  }


  .union-img, .dininghall-img ,.outside-img {
    margin:4px;
    max-width: 100%;
    height: auto;
    overflow:hidden;
  }

  .union-frame:hover, .dininghall-frame:hover,.outside-frame:hover {
    opacity: .7;
  }

  .union-frame:focus, .dininghall-frame:focus,.outside-frame:focus {
  border: 2px solid #FFFFFF;
  outline: 2px solid #000000;
  border-radius: 0;
  }

  .dininghalls h2 , .union h2, .outside h2{
    font-size:40px;
    grid-column: 1 / -1;
  }

  .dininghall-frame:nth-last-child(-n+2){
      display:none;
  }

  @media only screen and (min-width:768px) {
    .dininghalls ,.union, .outside{
        grid-template-columns: 1fr 1fr;
        margin: 5px;
        padding: 5px;
      }
}

@media only screen and (min-width:1200px) {
    .central h1{
        display:none;
    }

    .dininghalls,.union,.outside {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 5px;
        padding: 5px;
      }

      .dininghalls p, .union p{
        display:inline;
        padding:0 100px 20px 100px;
        grid-column: 1 / -1;
        font-size:35px;
    }
/*
    .dininghalls a, .union a{
        display:inline;
        font-size:20px;
    } */

    .dininghall-frame:nth-last-child(-n+2){
        display:grid;
    }

}