.central h1{
    font-size: 30px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman';
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: #00274c;
    outline: none;
    text-align: left;
  }


.union, .dininghalls,.outside {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 5px;
    padding: 5px;
  }

  .dininghalls p{
      display:none;
  }

  .union-frame, .dininghall-frame, .outside-frame {
    padding: 3px;
    font-size: 1.2rem;
    text-align: center;
    background-color: #00274c;
    color: #d9d9d9;
    overflow:hidden;
  }


  .union-img, .dininghall-img ,.outside-img {
    margin:4px;
    max-width: 100%;
    height: auto;
    /* object-fit: cover; */
    overflow:hidden;
  }


  .dininghalls :first-child , .union :first-child, .outside :first-child{
    font-size:40px;
    grid-column: 1 / -1;
  }

  .dininghall-frame:nth-last-child(-n+2){
      display:none;
  }

  @media only screen and (min-width:768px) {
    .central h1{
        display:none;
    }

    .dininghalls ,.union, .outside{
        grid-template-columns: 1fr 1fr;
        margin: 5px;
        padding: 5px;
      }
}

@media only screen and (min-width:1200px) {
    .dininghalls {
        grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
        margin: 5px;
        padding: 5px;
      }

     .dininghalls :first-child {
        font-size:20px;
        grid-column: 1 / -1;
      }

      .dininghalls p{
        display:grid;
        padding:0 100px 20px 100px;
        grid-column: 1 / -1;
        font-size:20px;
    }

      .union {
        grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
        margin: 2px;
        padding: 2px;
      }

     .union :first-child {
        font-size:20px;
        grid-column: 1 / -1;
      }

      .outside {
        grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
        margin: 2px;
        padding: 2px;
      }

     .outside :first-child {
        font-size:20px;
        grid-column: 1 / -1;
      }

}