.tools-container {
    display: flex;
    flex-direction: column;
  }

  .item {
    display:flex;
    flex-direction:row;
    order:2;
    margin-bottom:20px;
    gap:5px;
  }

  .tools img, .resource img, .academic img{
    max-width:100%;
    max-height:100%;
  }

 .tools picture, .resource picture, .academic picture{
    max-width:50%;
    max-height:100%;
  }

  .tools h3, .resource h3, .academic h3{
    align-self:center;
    text-align:center;
    font-size:25px;
  }

  .text{
      display:flex;
      flex-direction:column;
      justify-content:center;
  }

  .tools p, .resource p, .academic p{
    align-self:center;
    text-align:center;
    font-size:20px;
  }

  h2{
      display:flex;
      justify-content:center;
      padding:5px;
      font-size:50px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .item:hover {
    opacity: .7;
  }

  .item:focus {
  border: 2px solid #FFFFFF;
  outline: 2px solid #000000;
  border-radius: 0;
  }

@media only screen and (min-width:768px) {
    .tools-container {
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content:space-evenly;
      }

    .tools-container h2{
        flex: 0 0 100%;
    }
      .item{
          flex:1;
          display:flex;
          flex-direction:column;
          justify-content: space-evenly;
          align-items:center;
      }

      .tools picture, .resource picture, .academic picture{
        max-width:90%;
        max-height:90%;
      }

      .tools img, .resource img, .academic img{
        max-width:90%;
        max-height:90%;
      }

}

@media only screen and (min-width:1200px) {
    .tools-container{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content:space-evenly;
      }

      .item{
        flex:1;
        display:flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items:center;
        border: solid 2px #00274c;
        background-color:#00274c;
    }

    .tools-container>*{
        flex: 0 0 45%;
    }

    .tools h3, .resource h3, .academic h3{
        color:white;
        font-size:40px;
      }

    .tools p, .resource p, .academic p{
        align-self:center;
        text-align:center;
        font-size:35px;
        color:white;
      }

      .tools picture, .resource picture, .academic picture{
        width: 300%;
        height: 250%;
        display: flex;
        justify-content: center;
      }
}