.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

  .skip a{
    position:absolute;
    top:-40px;
}

.skip a:focus{
    position:relative;
    top:20px;
}

header {
    display:grid;
    background-image: url("../images/header1.png");
    background-size: cover;
    text-align: center;
    height:500px;
}

header h1{
    display:grid;
    background: rgba(255, 255, 255, 0.75);
    color: black;
    align-items: center;
    font-size: 50px;
}

header nav{
    display:grid;
    font-size:30px;
    background: rgba(255, 255, 255, 0.75);
    color: black;
}

footer{
    background-color: #EFEFEF;
    width: 100%;
}
