.overview{
    display:grid;
    margin:20px;
    justify-items:center;
}

.overview h2{
    font-size:50px;
    text-decoration:underline dotted;
}

.overview p{
    display:grid;
    padding:10px;
    font-size:30px;
}

.overview img{
    display:none;
}

@media only screen and (min-width:768px) {
    .overview p{
        display:grid;
        width:650px;
        font-size:40px;
    }
}

@media only screen and (min-width:1200px) {

    .overview{
        margin:5px;
    }
    .overview h2{
        font-size:60px;
        padding:10px;
    }

    .overview p{
        display:grid;
        width:1000px;
        font-size:60px;
    }

    .overview img{
        display:grid;
        width:1000px;
    }
}