.overview{
    display:grid;
    margin:20px;
    justify-items:center;
}

.overview h2{
    font-size:50px;
}

.overview p{
    font-size:30px;
}

@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1200px) {

    .overview{
        margin:5px;
    }
    .overview h2{
        font-size:60px;
        padding:10px;
    }

    .overview p{
        font-size:25px;
    }

}