.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

  .skip a{
    position:absolute;
    top:-40px;
}

.skip a:focus{
    position:relative;
    top:20px;
}

header {
    display:grid;
    background: #00274c;
    color:#f2f2f2;
    font-size:50px;
    overflow:hidden;
    text-align: center;
    align-items: center;
}

header h1{
    padding:10px;
    margin:15px;
}
/* header h1{
    display:grid;
    position:absolute;
    background: rgba(255, 255, 255, 0.75);
    color: black;
    font-size: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
} */

nav{
    display:flex;
    flex-direction:column;
}

.topnav{
    /* display:flex;
    flex-direction:column; */
    background-color: #00274c;
    overflow:hidden;
    margin-bottom:10px;
    padding-bottom:5px;
}

.topnav a{
   /* display:grid;
    float:center;*/
    width:100%;
    color:#f2f2f2;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    font-size:25px;
}

.topnav a:hover{
    background-color:#989c97;
    color:#111b23;
}

.topnav a.current{
    background-color:#ffcb05;
    color:#111b23;
}


.overview{
    display:grid;
    margin:20px;
    justify-items:center;
}



footer {
    padding: 20px;
    text-align: center;
    background-color: #00274c;
    color:#e5e5e5;
  }


@media only screen and (min-width:600px) {
    header{
        display:grid;
        background-image: url("../images/header1.png");
        background-position: center;
        background-size: cover;
        height:250px;
    }

    header h1{
        display:grid;
        position:absolute;
        background: rgba(255, 255, 255, 0.75);
        color: black;
        font-size: 50px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    nav{
        flex-direction:row;
        position:relative;
    }

}

@media only screen and (min-width:992px) {
    header {
        text-align: center;
        height:500px;
        align-items: center;
    }

    nav{
        display:flex;
        flex-direction:row;
        align-items:center;
    }

    .topnav{
        display:flex;
        justify-content:center;
    }
}